<div class="row center">
  <h3>Confirm invitation</h5>
  <h5>Would you like to enjoy in our team?</h5>
  <h5>Confirm in this button below:</h5>
  <input type="hidden" id="team_id" value="<%= @team.id %>">
  <input type="hidden" id="user_email" value="<%= @user.email %>">
  <a class="btn" id="confirm_invitation">Confirm Invitation</a>
</div>
